* {
    box-sizing: border-box;
}

[class*="tpl-"] {
    display: none;
}

body {
    font-family: Helvetica Neue, sans-serif;
    font-size: 16px;
    margin: 0;
}

#app {
    max-width: 320px;
    padding: 20px;
    margin: 0 auto;
}

.new-item {
    width: 100%;
    font-size: 16px;
    padding: 13px 14px;
    box-shadow: none;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.list {
    list-style: none;
    padding: 0;
}

.item {
    display: block;
    width: 100%;
    overflow: hidden;
    padding: 5px 0;
}

.item-done {
    opacity: 0.4;
    text-decoration: line-through;
}

.item-checkbox {
    vertical-align: top;
    font-size: 16px;
    margin-left: 0;
}

.item-remove {
    float: right;
    font-size: 25px;
    line-height: 0.6;
    cursor: pointer;
}